.circle
{
    width: 450px;
    height: 450px;

    background: linear-gradient(to bottom, #f5576c, #f093fb);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    border-radius: 60% 40% 49% 51% / 58% 45% 55% 42%;

    animation: circleRadius 12s alternate infinite;

    position: absolute;
    right: 5rem;
    bottom: 8rem;
    z-index: 1;

    @media (max-width: $breakpoint_xl)
    {
        right: 0;
    }

    @media (max-width: $breakpoint_sm)
    {
        display: none;
    }
}

@keyframes circleRadius
{
    0%
    {
        border-radius: 60% 40% 49% 51% / 58% 45% 55% 42%;
        transform: translate3d(0, 0, 0);
    }
    50%
    {
        border-radius: 64% 36% 61% 39% / 79% 65% 35% 21%;
        transform: translate3d(-80px, -80px, 0);
    }
    100%
    {
        border-radius: 26% 74% 36% 64% / 37% 46% 54% 63%;
        transform: translate3d(0, -100px, 0);
    }
}