.content
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 2rem 0; 
}

.content__title
{
    margin: 0 0 2rem;

    font-size: 2rem;
    font-weight: 700;
    color: $black;
}