.input
{
    display: block;
    width: 100%;
    height: 45px;
    padding: 1rem 1.8rem;

    font-family: inherit;
    color: $black;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;

    border-radius: $radius_sm;
    border: 1px solid #ddd;

    &::placeholder
    {
        color: #7b7b7b;
    }

    &:focus
    {
        outline: 0;
        border-color: $pink;
    }
}