.lang
{
    text-align: right;

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.lang__item
{
    margin-left: .5rem;

    text-decoration: none;
    color: $black;
     
    &.active
    {
        color: $pink;
    }
}

.header__row
{
    align-items: center;
}