.nav
{
    display: flex;

    font-size: 1rem;
    font-weight: 500;
}

.nav__link
{
    padding: .25rem 1.5rem;
    margin-right: 1rem;

    color: $black;
    text-decoration: none;

    border-radius: 20px;

    transition: background .1s linear;

    &:hover
    {
        background-color: darken($gray, 3%);
    }

    &.active
    {
        background-color: $pink;
        color: $white;
    }
}