.services
{
    margin-bottom: 2rem;
}

.services__item
{
    padding: 1.2rem;

    height: 100%;

    background-color: $white;
    border-radius: $radius;
    box-shadow: $shadow;

    position: relative;
}

.services__icon
{
    width: 50px;
    height: 50px;

    position: absolute;
    top: 1rem;
    left: 1.2rem;
    z-index: 1;
}

.services__title
{
    font-size: 1.4rem;
    color: $black;
    font-weight: 500;

    padding-left: 5rem;
    margin-top: 0.8rem;
}

.services__text
{
    font-size: 1rem;
    color: $black;

    margin-top: 2rem;
}