$white: #fff;
$pink: #ec3482;
$black: #121212;
$gray: #fafafa;
$gray_dark: #a1a1a1;
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25 rgba(0, 0, 0, .05);

//Breakpoints

$breakpoint_xl: 1330px;
$breakpoint_sm: 575px;


// Bootstrap Modal

$modal-backdrop-bg: #222c44;
$modal-backdrop-opacity: .9;